body {
    background-color: grey;
}


#platinum {
    margin-left: 3%;
    width: fit-content;
    color: goldenrod;
    letter-spacing: 3px;
    transform: scaleY(2);
    
}

#logo {
    margin-left: 230px;
    margin-top: -37px;
    
}

.a
{
    position:fixed;
    height: 300px;
    width: 500px;
    top:30%;
    left:10%;
    background-image: url(/img/bg.jpg);
    
    border-radius:13px;
    box-shadow:5px 5px 5px black;
}

#space
{
    position: relative;
    top: 80px;
}

#safe
{
    position:fixed;
    bottom:3%;
}

h3
{
    margin-top:3%;
    text-align:center;
}

#name
{
    margin-left:3%;
    
}

*
{
    font-family:serif;
    font-weight:bold;
    color:rgba(255,255,255,1);
}

#cvv1
{
    position:absolute ;
    right:5.2%;
}

#cvv2
{
    position:absolute ;
    right:8.3%;
}

#cvv3
{
    position:absolute ;
    right:11.4%;
}

.acc
{
    font-size:1.5em;
    position:relative;
    top:110px;
    text-align: center;
    
}

#visa {
    font-family: Permanent Marker, cursive;
    font-size: 35px;
    letter-spacing: 5px;
    float: right;
    margin-top: 130px;
    font-weight: 400;
}

#lbl1
{
    position:absolute;
    right:15%;
}
