body {
    background-color: green;
}


#platinum {
    margin-left: 3%;
    width: fit-content;
    color: goldenrod;
    letter-spacing: 3px;
    transform: scaleY(2);
    
}

.a
{
    position:fixed;
    height: 300px;
    width: 500px;
    top:30%;
    left:10%;
    background-image: url(/img/bg.jpg);
    
    border-radius:13px;
    box-shadow:5px 5px 5px black;
}

#space
{
    position: relative;
    top: 80px;
}

#safe
{
    position:fixed;
    bottom:3%;
}

h3
{
    margin-top:3%;
    text-align:center;
}

#name
{
    margin-left:3%;
    
}

*
{
    font-family:serif;
    font-weight:bold;
    color:rgba(255,255,255,1);
}

#cvv1
{
    position:absolute ;
    right:5.2%;
}

#cvv2
{
    position:absolute ;
    right:8.3%;
}

#cvv3
{
    position:absolute ;
    right:11.4%;
}

.acc
{
    font-size:1.5em;
    position:relative;
    top:110px;
    text-align: center;
    
}

#s1
{
    position:absolute;
    bottom:2%;
    left:2%;
    float:left;
}

#s2
{
    position:absolute;
    bottom:2%;
    right:2%;
    float:right;
}

#membership
{
    position:absolute ;
    bottom:2%;
    left:22%;
}


#lbl1
{
    position:absolute;
    right:15%;
}
